{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    {{- if .LogoUrl -}}
    <div class="logo">
        <img src="{{ .LogoUrl }}" alt="{{ .LogoTitle | default "logo image" }}"
            height="{{ .LogoHeight | default 150 }}" width="{{ .LogoWidth | default 150 }}" />
    </div>
    {{- end }}
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}
